<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Kurse
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        Kurse
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-list>
    <app-message *ngFor="let message of getMessages()" [message]="message"></app-message>
  </ion-list>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Enter Name</ion-label>
      <ion-input type="text" [(ngModel)]="name" placeholder="Enter name" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Country</ion-label>
      <ion-input type="text" [(ngModel)]="country" placeholder="Enter country" required></ion-input>
    </ion-item>

    <div class="ion-float-right">
      <ion-button (click)="setStorage()">Set storage data</ion-button>
      <ion-button color="tertiary" (click)="getStorage()">Get storage data</ion-button>
      <ion-button color="tertiary" (click)="clearStorage()">Clear storage</ion-button>
    </div>
  </ion-list>

  <ion-item>
    Get LocalStorage string name : {{ storageName }}
  </ion-item>
  <ion-item>
    Get LocalStorage JSON person :  {{ person?.name }} : {{ person?.country }}
  </ion-item>
</ion-content>